* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  position: fixed;
  left: -9999px;
}

.product-page-nav {
  width: 100%;
  height: 3rem;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(25, 25, 25);
}

.Proprica-Logo {
  width: 2.5rem;
  height: 2.5rem;
}

.navigation {
  display: grid;
  max-height: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navigation-links {
  position: relative;
  line-height: 3rem;
  text-align: center;
}

.search-container,
.input-section {
  display: flex;
  align-items: center;
  justify-content: center;

}

.search-container {
  height: 50%;
  width: 100%;
  border-radius: 5px;
  border: solid 1px rgb(19, 19, 19);
  background-color: white;
}

.fake-search {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 95%;
  width: 100%;
  padding-left: 10px;
  scroll-padding-right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.fake-search::placeholder {
  color: rgb(19, 19, 19);
}

.search-icon {
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  border-right: 1px solid rgb(19, 19, 19);
}

.login-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.authorize-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  color: white;
}

.authorize-button-container:hover>.child {
  cursor: pointer;
  color: rgb(185, 185, 185);
}

.user {
  width: 28px;
  cursor: pointer;
  border-radius: 50%;
}

.membrane,
.real-input-field {
  width: 100%;
  height: 100%;
  position: fixed;
}

.real-input-field {
  display: flex;
  justify-content: center;
  background-color: rgba(25, 25, 25, 0.5);
}

.cover {
  z-index: 10;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  width: 70%;
  color: rgb(25, 25, 25);
  height: fit-content;
}

.search-form {
  width: 100%;
  display: block;
}

.real-input-container {
  position: relative;
}

.real-input {
  z-index: 9;
  position: relative;
  box-shadow: 0px 15px 10px -15px #00406665;
}

.real-input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
}

.real-input::placeholder {
  font-size: 14px;
}

.searched-item-field {
  width: 100%;
  position: absolute;
  top: 30px;
  background-color: white;
}

.item,
.delete-button {
  display: flex;
  align-items: center;
}

.item {
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;
  transition: background-color 0.15s;
}

.item:last-child,
.searched-item-field {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item:hover {
  background-color: rgb(197, 211, 228);
}

.item-property {
  display: grid;
  overflow: hidden;
  grid-template-columns: 5rem 1fr;
}

.margin-top-5 {
  margin-top: 5px;
}

.item-image {
  width: 100%;
}

.item-property,
.shop-info {
  grid-gap: 10px;
}

.tag,
.shop-name {
  display: inline-block;
}

.tag {
  margin-left: 10px;
  padding: 0.2rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.delete-button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  transition: opacity 0.15s;
}

.delete-button:hover {
  opacity: 0.7;
}

.delete-button:active {
  opacity: 0.5;
}

.load-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.err {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.attention-container{
  z-index: 11;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  top: 2.75rem;
  position: absolute;
  background-color: deepskyblue;
  transition: opacity 0.2s;
  width: 100%;
}

.attention {
  width: 100%;
  font-size: 13px;
  color: white;
  text-align: center;
}

.edge-container{
  top: -5px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.edge{
  width: 10px;
  height: 10px;
  background-color: deepskyblue;
  transform: rotate(45deg);
}