.nav-bar{
  width: 100%;
  height: 3rem;
  background-color: rgb(25, 25, 25);
}
.navigation-links {
  position: relative;
  line-height: 3rem;
  text-align: center;
}

.links{ 
  width: 41.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav-bar{
  display: flex;
  position: relative;
  z-index: 10;
  background-color: transparent;
  justify-content: space-between;
}

.login-buttons{
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem
}

.authenticate{
  width: 8rem;
  border-radius: 10px;
  outline: none;
  border: unset;
  cursor: pointer;
  border: 2px solid rgb(25, 25, 25);
  background-color: transparent;
  transition: background-color 0.1s;
}

.authenticate:active{
  background-color: rgb(25, 25, 25);
}

.body{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(25, 25, 25);
}

.oval{
  position: fixed;
  width: 300%;
  height: 300%;
  top: -10rem;
  left: -10rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0 0 10rem rgb(25, 25, 25);
}